@model ServerModel

@{
    ViewData["Title"] = "Server";
}



<div class="container my-container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post">
                <div class="mb-3">
                    <label asp-for="ServerName" class="form-label"></label>
                    <input type="text" class="form-control" asp-for="ServerName">
                </div>
                <div class="mb-3">
                    <label asp-for="SmtpPort"></label>
                    <input type="text" class="form-control" asp-for="SmtpPort">
                </div>
                <div class="mb-3">
                    <label asp-for="ImapPort"></label>
                    <input type="text" class="form-control" asp-for="ImapPort">
                </div>
                <div class="mb-3">
                    <label asp-for="Pop3Port"></label>
                    <input type="text" class="form-control" asp-for="Pop3Port">
                </div>

                <div class="d-flex justify-content-between">
                    <button class="btn btn-primary" type="submit">
                        Connect
                    </button>
                    <button class="btn btn-primary" type="submit">
                        Default Connection
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
















