@model List<DownloadedMail>

@{
    ViewData["Title"] = "Server";
}



<div class="container my-container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Type</th>
                <th scope="col">Column heading</th>
                <th scope="col">Column heading</th>
                <th scope="col">Column heading</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr class="table-active">
                    <td><a asp-action="DownloadMail" asp-controller="App" asp-route-id="@item.Id">@item.SenderName</a></td>
                    <td>@item.SenderEmail</td>                 
                    <td>@item.Subject</td>
                    <td><i class="bi bi-download"></i></td>
                </tr>
            }
              
        </tbody>
    </table>
</div>
















